[Desktop Entry]
Version=1.0
Type=Application
Name=WebStorm
Icon=/home/anup/Softwares/WebStorm-231.8770.64/bin/webstorm.svg
Exec="/home/anup/Softwares/WebStorm-231.8770.64/bin/webstorm.sh" %f
Comment=Capable and Ergonomic IDE for JavaScript
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-webstorm
StartupNotify=true
